@import url('https://fonts.cdnfonts.com/css/chalkduster');
*{
	margin: 0;
	padding: 0;
}

body{
	line-height: 3em;
    /* top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    text-align: center;
    font-family: 'Chalkduster', sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
.plz {
    color: rgb(255, 255, 255);
    text-align: center;
}

.let {
    color: rgb(241, 241, 241);
    text-align: center;
}
p {
    text-shadow: 5px 0 #888888;
}
.endpage {
    background: url('bg2.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}
.enterpage {
    background: url('bj.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}
.bt0 {
    margin-top:10px;
	background-color: #9995956d;
	color:#fff;
	padding: 15px 100px;
	border: 0;
	text-align: center;
	border-radius: 20px;
    font-family: 'Chalkduster', sans-serif;
    font-size: 40px;

}

.bt0:hover{
	background: rgba(246, 70, 70, 0.711);
	color: #fff;

}

input[type="text"]{
    width: 500px;
    height: 70px;
}

.container {
    left: 0;
    line-height: 200px;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
}